<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <oracle-dv project-path="/@Catalog/users/joao.brito@oracle.com/Group 2" active-page="canvas" active-tab-id="1"></oracle-dv>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
