<template>
  <div class="about">
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Real Time
          </h1>
          <h2 class="subtitle">
            Bot Interactions
          </h2>
        </div>
      </div>
    </section>
    <br>
    <section>
      <!-- <b-table :data="data" :columns="columns"></b-table> -->
      <div class="container">
        <b-table
              :data="isEmpty ? [] : data"
              :bordered="false"
              :striped="false"
              :narrowed="true"
              :hoverable="false"
              :loading="false"
              :focusable="false"
              :mobile-cards="false">

              <template slot-scope="props">
                  <b-table-column field="id" label="ID" width="40" numeric>
                      {{ props.row.client_id }}
                  </b-table-column>

                  <b-table-column field="diagnose" label="Diagnose">
                      {{ props.row.disease }}
                  </b-table-column>

                  <b-table-column field="simptoms" label="Simptoms">
                      {{ getSimptoms(props.row.call) }}
                  </b-table-column>

                  <b-table-column field="date" label="Date" centered>
                      <span class="tag is-default">
                          {{ new Date(props.row.created_date).toLocaleDateString() }}
                      </span>
                  </b-table-column>

                  <b-table-column field="risk" label="Risk">
                    <span :class="'tag ' + getRiskColor( props.row.risk)">
                          {{ props.row.risk }}
                      </span>
                  </b-table-column>

                  <!-- <b-table-column label="Gender">
                      <span>
                          <b-icon pack="fas"
                              :icon="props.row.gender === 'Male' ? 'mars' : 'venus'">
                          </b-icon>
                          {{ props.row.gender }}
                      </span>
                  </b-table-column> -->
                </template>
        </b-table>
      </div>

    </section>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            data: [],
            columns: [
                {
                    field: 'client_id',
                    label: 'ID',
                    width: '40',
                    numeric: true
                },
                {
                    field: 'disease',
                    label: 'Diagnose',
                },
                {
                    field: 'last_name',
                    label: 'Last Name',
                },
                {
                    field: 'created_date',
                    label: 'Date',
                    centered: true,
                    date: true
                  
                },
                {
                    field: 'gender',
                    label: 'Gender',
                }
            ]
        }
    },
    mounted(){
      this.getHistory()
    },
    methods: {
      getHistory () {
        const that = this
        axios.get('https://oracle-chatbot.herokuapp.com/history')
            .then(function (response) {
                console.log(response.data)
                that.data = response.data.history
                
            })
            .catch(function (error) {
                console.log(error)
            })
      },
      getRiskColor(risk){
        if(risk == 'high'){
          return 'is-danger'
        } else if (risk == 'moderate'){
          return 'is-warning'
        } else if (risk == 'low'){
          return 'is-success'
        } else {
          return 'is-default'
        }
      },
      getSimptoms(obj){
        let simptoms_array = []
        for (let key in obj){
          if (obj[key] == true){
            simptoms_array.push(key)
          }
        }
        return simptoms_array
      }
    }
}
</script>