<template>
  <div id="app">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/001/036/square_256/vue.png" class="logo">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" v-bind:class="{'is-active': isOpen}">
            <div class="navbar-end">
                <router-link to="/" class="navbar-item is-tab">Live</router-link>
                <router-link to="/stats" class="navbar-item is-tab">Stats</router-link>
            </div>
        </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  data() {
        return {
          isOpen: false
        }
    },
}
</script>

<style lang="scss">
.logo {
  width: 52px;
  margin: 20px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
